{% extends "home.html" %} 

{% block content %} 
<section id="latest-posts">
    

    

    <div class="post">
      <h3>{{ post.title }} on {{ post.publication_date }}</h3>
      <p>{{post.content}}</p>
      <span
        >Tags: {% for tag in post.tags.all %}
        <a href="{% url  'blog:tag_detail' tag.pk %}">{{tag.name}}</a> {% if not forloop.last %}, {% endif %} {% endfor %}
      </span>
    </div>

    <div class="post">
      <h4>Comments</h4>
      {% for comment in comments %}
      <p>{{comment.content}}</p>
      <span>
        by  {{ comment.author.username }}
      </span>
      {% endfor %}
    </div>

    <form method="post">
      {% csrf_token %}
    {{form}}
    <button type="submit">Save</button>
  </form>

  </section>
{% endblock content %}
